.NavFilters {
  display: flex;
  gap: var(--gap-medium);
  padding: 1rem;
  flex-shrink: 0; /* Evita que los filtros se reduzcan */
}

.filterContainer {
  width: 180px;
  padding: var(--font-size-large);
  border-radius: 12px;
  border: 2px solid var(--soft-color);
  transition: transform 0.3s ease-in-out;
}

.filterContainer legend {
  font-size: var(--font-size-large);
  color: var(--soft-color);
  font-weight: bold;
}

.filterContainer ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium);
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filterContainer fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-short);
}

.filterContainer fieldset:last-child {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--gap-short);
}

.filterContainer li strong {
  font-size: var(--font-size-small);
  font-weight: 600;
  color: #333;
  margin-bottom: var(--gap-short);
}

.filterContainer select,
.filterContainer input[type="range"] {
  padding: var(--border-radius-medium);
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-small);
  width: 100%;
  transition: 0.3s ease-in-out;
  text-align: start;
  border: 1px solid var(--text-color);
  color: var(--primary-color);
  cursor: pointer;
}

.filterContainer select:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.filterContainer input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: var(--border-radius-medium);
  width: 100%;
}

.filterContainer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--font-size-small);
  height: var(--font-size-small);
  border-radius: 50%;
  background: var(--primary-color);
}

.filterContainer input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--font-size-small);
  height: vrvar(--font-size-small);
  border-radius: 50%;
  background: var(--primary-color);
}

.filterContainer input[type="range"]:focus {
  outline: none;
  border-color: var(--shadow-color);
}

.filterContainer input[type="range"]:hover {
  background: var(--acent-color);
  border-color: var(--acent-color);
}

.filterContainer input[type="range"]:active {
  background: var(--acent-color);
}

.rangeContainer {
  display: flex;
  align-items: center;
  gap: var(--font-size-small);
}

.rangeContainer span {
  font-size: 0.9rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .filterContainer {
    width: 100%;
    padding: 0.5rem;
  }
  .filterContainer ul {
    justify-content: start;
  }
}

@media (max-width: 500px) {
  .filterContainer {
    width: 100%;
    padding: 0.5rem;
  }
}
