.HeaderContainer {
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 1rem;
  padding: 1rem;
  background: linear-gradient(
    to top,
    var(--secondary-color),
    var(--background-color)
  );
  scroll-margin-top: 60px;
}

.firstContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../assets/background3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1.5;
  max-width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-shadow: 2px 4px 6px var(--shadow-color);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  padding: 0 2rem;
  min-height: 100%;
  color: var(--background-color);
  border-radius: 3px; /* Bordes redondeados */
}

.firstContainer h1 {
  font-size: 16vw;
  font-family: "Playfair Display", serif;
  margin-bottom: 0.5rem;
  text-align: start;
}

.description {
  font-size: 3vw;
  line-height: 1.5;
  font-family: "Lora", serif;
  width: 80%;
  margin-bottom: 3.5rem;
}

.secondContainer {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.secondContainerfirtsimg,
.secondContainerSecondImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  width: 100%;
  max-width: 400px;
  height: 50%;
  box-shadow: 0 4px 6px var(--shadow-color);
  font-family: "Roboto", sans-serif;
  border-radius: 3px; /* Bordes redondeados */
  transition: var(--transition-ease);
}

.secondContainerSecondImg {
  background-image: url("../assets/background2.jpg");
  background-position: top;
}

.secondContainerSecondImg:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.015)),
    url("../assets/background2.jpg");
}

.secondContainerfirtsimg:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.015)),
    url("../assets/background1.jpg");
}

.secondContainerfirtsimg {
  background-image: url("../assets/background1.jpg");
  background-position: center;
}

.linkButton {
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  transition: var(--transition-ease);
  border-radius: 2rem;
  z-index: 1;
  position: absolute;
  margin: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 2px 3px var(--text-color);
}

.linkButtonHeader {
  margin: 0;
  position: static;
  padding: 1.1rem 1.5rem;
  font-size: 1.6rem;
}

.linkButton:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .HeaderContainer {
    flex-direction: column;
    height: 100%;
  }

  .firstContainer {
    max-width: 100%;
    flex: 1;
    min-height: 85vh;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }

  .firstContainer h1 {
    font-size: 25vw;
  }

  .description {
    font-size: 4vw;
    width: 100%;
  }

  .secondContainer {
    flex: 1;
    max-width: 100%;
    flex-direction: row;
  }

  .secondContainerfirtsimg,
  .secondContainerSecondImg {
    height: 300px;
  }

  .linkButton {
    position: static;
  }
}

@media (max-width: 525px) {
  .HeaderContainer {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .firstContainer {
    max-width: 100%;
    flex: 1;
  }
  .firstContainer h1 {
    font-size: 30vw;
  }

  .description {
    font-size: 8vw;
  }

  .secondContainer {
    flex: 1;
    max-width: 100%;
    flex-direction: column;
  }

  .secondContainerfirtsimg,
  .secondContainerSecondImg {
    height: 300px;
    min-width: 100%;
    border-radius: 0px;
  }

  .linkButtonHeader {
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
  }

  .linkButton {
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
  }

  .description {
    margin-bottom: 2rem;
  }
}
