.ModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 12px; /* Un poco más redondeado */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Mayor profundidad */
  z-index: 5;
  width: 90%; /* Para pantallas pequeñas */
  max-width: 500px; /* Límite de tamaño */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animación */
}

.ModalContainer.open {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.TittleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Línea separadora */
}

.TittleContainer h1 {
  font-size: 1.5rem; /* Tamaño del título */
  font-weight: 700;
  color: #333; /* Color oscuro */
  margin: 0; /* Eliminar márgenes predeterminados */
}

.ButtonContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.CloseButtonCustom {
  background-color: transparent;
  color: var(--soft-color);
  border: 1px solid var(--soft-color);
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 50px;
  font-weight: bold;
  font-size: 1rem;
  transition: var(--transition-ease);
}

.CloseButtonCustom:hover {
  border-color: var(--acent-color);
  color: var(--acent-color);
  transform: translateY(-1px);
}
