/* Sección de categorías */
.CategorySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 2%; /* Espaciado interno para la sección */
  width: 100%;
  text-transform: capitalize;
  margin-top: 1rem;
}

.CategorySection h2 {
  font-size: 4vw;
  font-weight: bold;
  text-align: start;
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  width: 50%;
  text-transform: uppercase; /* Para todo en mayúsculas, si aplica */
}

/* Carrusel (Swiper) */
.SwiperContainer {
  display: flex;
  height: 580px;
  width: 100%;
  padding: 1rem !important;
}

/* Tarjetas de producto */
.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
  height: 500px; /* Altura fija */
  gap: 0.75rem;
  transition: var(--transition-ease);
}

.CardContainer:hover {
  transform: scale(1.05);
}

/* Imágenes en las tarjetas */
.CardContainer img {
  width: 100%;
  height: 100%; /* Proporción consistente */
  object-fit: cover;
}

/* Contenido de las tarjetas */
.CardContainer section:first-of-type {
  max-width: 100%;
  height: 60%;
}

.CardContainer section:nth-child(2) {
  max-width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  gap: 0.75rem;
}

.TitlesCard {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
}

.TitlesCard h5 {
  font-size: 1.2rem;
  color: var(--text-color);
}

.TitlesCard h4 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}
.ArticlePrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: underline;
}

/* Contenedor del carrito */
.CartContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
}

.SpanCountProducts {
  display: flex;
  width: 100px;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color);
  align-items: end;
}

/* Botones del carrito */
.CartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.CartButton:hover {
  background-color: var(--accent-color);
}

/* Contenedor de artículos */
.ArticlesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 1rem;
}

.AddToCartProduct {
  background-color: var(--accent-color);
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-ease);
  margin-right: 30px;
}

.AddToCartProduct:hover {
  background-color: var(--text-color);
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .SwiperContainer {
    display: flex;
    height: 500px;
    width: 100%;
    margin: 0 !important;
  }

  .CategorySection h2 {
    font-size: 6vw;
    font-weight: bold;
    text-align: start;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    margin: 0 1rem;
    padding-bottom: 0.5rem;
    width: 50%;
    text-transform: uppercase; /* Para todo en mayúsculas, si aplica */
  }

  .CardContainer {
    max-width: 100%;
    height: 400px;
    margin: 0.5rem;
  }

  .CardContainer section:first-of-type {
    max-width: 100%;
    height: 60%;
  }

  .CardContainer section:nth-child(2) {
    max-width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    gap: 0.75rem;
  }

  .TitlesCard h5 {
    font-size: 1rem;
  }

  .TitlesCard h4 {
    font-size: 1.5rem;
  }

  .ArticlePrice {
    font-size: 1rem;
  }

  .SpanCountProducts {
    font-size: 1.2rem;
  }
}

@media (max-width: 520px) {
  .CategorySection {
    padding: 0.2rem;
  }

  .SwiperContainer {
    padding: 0 !important;
  }

  .CardContainer img {
    max-height: 250px;
  }
  .CategorySection h2 {
    font-size: 8vw;
    width: 80%;
  }

  .TitlesCard h5 {
    font-size: 0.9rem;
    color: var(--text-color);
  }

  .TitlesCard h4 {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: bold;
  }

  .CartContainer {
    flex-direction: column-reverse;
    align-items: start;
  }

  .AddToCartProduct {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 320px) {
  .CardContainer {
    padding: 1rem;
  }

  .TitlesCard h5 {
    font-size: 1.2rem;
  }

  .TitlesCard h4 {
    font-size: 1.6rem;
  }

  .CartContainer {
    flex-direction: row;
  }
}
