.TotalContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;

  scroll-margin-top: 60px;
}

.productGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 16px;
  content-visibility: auto;
  min-height: 100vh;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 380px;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  transition: ease-in-out 0.3s;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.CardContainer:hover {
  box-shadow: 0 6px 10px var(--shadow-color);
  transition: all 0.3s ease;
  transform: translateY(-3px);
}

.CardContainer section:first-of-type {
  min-width: 100%;
  max-width: 100%;
  height: 70%;
}

.CardContainer section:nth-child(2) {
  max-width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  gap: 0.5rem;
}

.TitlesCard {
  gap: 0.2em;
  display: flex;
  flex-direction: column;
}

.TitlesCard h5 {
  color: var(--text-color);
}

.TitlesCard h4 {
  color: #000;
}
.ArticlePrice {
  color: var(--primary-color);
}

.CardContainer img {
  min-width: 100%;
  min-height: 80%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.CartContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SpanCountProducts {
  display: flex;
  text-align: end;
  width: 100px;
  gap: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.ArticlesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 1rem;
}
.producsize {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: start;
  flex-wrap: wrap;
  width: 100%;
  color: var(--text-color);
}

.LoadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  height: 370px;
}

.LoadMoreButton {
  font-size: 5rem;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .TotalContainer {
    flex-direction: column;
    align-items: unset;
  }
  .productGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 4px;
  }
  .LoadMoreContainer {
    height: 100px;
  }

  .LoadMoreButton {
    font-size: 5rem;
    background-color: transparent;
    border: none;
  }
}

@media (max-width: 450px) {
  .productGrid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 4px;
  }
}
