.Navegador {
  width: 100%;
  height: var(--nav-height);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  box-shadow: rgba(75, 54, 33, 0.3) 0px 4px 6px;
  z-index: 5;
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transition-ease);
}

.Links,
.Controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.Links .StrongLinks:first-of-type {
  color: var(--accent-color);
}

.StrongLinks {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  color: var(--text-color);
  font-size: 1.025rem;
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 1px;
  transition: ease-in-out 0.25s;
}

.StrongLinks:hover {
  color: var(--accent-color);
}

.closemenu {
  display: none;
}

/* CANVAS */
.CanvasHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: var(--nav-height);
  font-size: 1.2rem;
}

.CanvasHeader svg {
  font-size: 2rem;
  transition: var(--transition-ease);
}

.CanvasHeader svg:hover {
  color: var(--accent-color);
}

.offcanvas {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: var(--offcanvas-width-hidden);
  width: var(--offcanvas-width);
  height: 100vh;
  background-color: var(--background-color);
  padding: 1rem;
  box-shadow: rgba(75, 54, 33, 0.3) 0px 4px 6px;
  gap: 1rem;
  transition: var(--transition-ease);
}

.showOffcanvas {
  right: 0;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  height: calc(100% - 120px);
}

.cartContainer article {
  height: 400px !important;
}

.cartContainer section:first-of-type,
.cartContainer section:nth-child(2) {
  max-width: 100%;
}

.BuyButtonContainer {
  margin-top: auto;
}

.BuyButtonContainer button {
  width: 100%;
}

.ControlIcon {
  font-size: 24px;
  cursor: pointer;
  transition: var(--transition-ease);
}

.ControlIcon:hover {
  color: var(--accent-color);
}

.RegisterLink {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  background: var(--accent-color);
  border: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition-ease);
}

.RegisterLink a {
  color: var(--background-color);
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: bold;
}

.RegisterLink:hover {
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}

.RegisterLink:hover a {
  color: var(--text-color);
}

.IncartProduct {
  margin-bottom: 1rem;
  max-width: 200px;
}

.IncartProduct h4 {
  font-size: 1.4rem;
}

.IncartProduct h5 {
  font-size: 1rem;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: var(--text-color) !important;
  font-weight: bold;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

.dropbtn:hover {
  background-color: var(--background-color);
  color: var(--accent-color) !important;
}
.dropdownContent {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: var(--background-color);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear 0.3s;
}

/* Enlaces dentro del dropdown */
.dropdownContent a {
  display: flex;
  align-items: end;
  padding: 1rem 0;
  font-size: 1.025rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  gap: 8px;
  transition: var(--transition-ease);
}

.dropdownContent a:last-child {
  border-bottom: none;
}

.dropdownContent a:hover {
  background: var(--accent-color);
  color: var(--background-color);
}

/* Cuando el mouse está sobre .dropdown, se muestra el contenido */
.dropdown:hover .dropdownContent {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding-top: 13px;
}

/* Responsive */
@media (max-width: 768px) {
  .Links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: var(--offcanvas-width-hidden);
    width: var(--offcanvas-width);
    height: 100%;
    background-color: var(--background-color);
    padding: 1rem;
    padding-top: 20px;
    box-shadow: rgba(75, 54, 33, 0.3) 0px 4px 6px;
    align-items: flex-start;
    z-index: 1;
    transition: var(--transition-ease);
  }

  .Navbarshow {
    left: 0;
  }

  .closemenu {
    display: block;
    cursor: pointer;
  }

  .RegisterLink {
    padding: 0.4rem 0.8rem;
  }
}
