/* Contenedor general */

.Contenedor {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/LoginImg.jpeg");
  background-repeat: no-repeat;
}

.totalcontainer {
  display: flex;
  width: 80%;
  gap: 1rem;
  height: 90%;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Imagen de autenticación */
.ImageSection img {
  height: 100%;
}

/* Formulario */
.FormSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
}

.FormTitle {
  font-size: 5vw;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

/* Contenedor de inputs y botones */
.FormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 450px;
}

.FormContainer fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  border: 1p solid red;
}

.FormContainer label {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 1.2rem;
  color: var(--text-color, #555);
  padding: 0 4px;
  z-index: 1;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: var(--background-color);
}

/* Estilo cuando el input está enfocado o tiene contenido */
.FormContainer input:focus + label,
.FormContainer input:not(:placeholder-shown) + label {
  top: -12px;
  left: 8px;
  font-size: 0.9rem;
  color: #c67a54;
}

.FormContainer input:focus input {
  border: 2px solid var(--accent-color);
}

.FormContainer input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.FormContainer input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

/* Campo de contraseña con botón de mostrar/ocultar */
.PasswordField {
  position: relative;
}

.TogglePassword {
  position: absolute;
  right: 12px;
  top: 57%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.5rem;
}

.TogglePassword:hover {
  color: var(--accent-color);
}

/* Texto de registro */
.RegisterText {
  font-size: 0.9rem;
  text-align: center;
  color: var(--text-color);
}

.RegisterText a {
  color: var(--primary-color);
  text-decoration: none;
}

.RegisterText a:hover {
  color: var(--accent-color);
}

/* Mensajes de error y éxito */
.Error {
  color: rgb(204, 61, 61);
  font-size: 0.9rem;
}

.Success {
  color: var(--accent-color);
  font-size: 0.9rem;
}

/* Texto de bienvenida */
.WelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
}

.WelcomeText h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.WelcomeText h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 1rem;
}

.WelcomeText p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.Actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.ProfileLink {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}

.ProfileLink:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Responsividad */
@media (max-width: 600px) {
  .totalcontainer {
    flex-direction: column;
    margin: 1rem;
    border-radius: 5px;
  }

  .ImageSection img {
    display: none;
  }

  .FormContainer {
    padding: 1rem;
  }

  .FormContainer input {
    font-size: 0.9rem;
  }

  .FormContainer label {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
  }

  .WelcomeText {
    font-size: 1.2rem;
  }
}
