/* Contenedor principal */
.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

/* Contenedor total */
.totalcontainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  height: 450px;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  border-radius: 0 1rem 0 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.totalcontainer img {
  border-radius: 0 1rem 0 1rem;
}

/* Formulario */

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.FormContainer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FormContainer textarea {
  height: 100px;
  width: 100%;
  max-height: 100px;
  max-width: 420px;
}

.FormContainer h1 {
  margin-bottom: 1rem;
}

.FormContainer div p {
  color: var(--text-color);
}

.FormContainer div p a {
  color: var(--primary-color);
}

.FormContainer div p a:hover {
  color: var(--acent-color);
}

.PasswordField {
  position: relative;
}

.TogglePassword {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
}

.FormContainer fieldset {
  position: relative;
  border: none;
  margin-bottom: 0.5rem;
}

.FormContainer label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 0.9rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  z-index: 1;
}

.FormContainer input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estados */
.Error {
  color: rgb(204, 61, 61);
}

.Success {
  color: var(--acent-color);
}

/* Texto de bienvenida */
.WelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 2rem;
}

.WelcomeText h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.WelcomeText h3 {
  font-size: 1.5rem;
  color: var(--acent-color);
  border-bottom: 2px solid var(--acent-color);
  margin-bottom: 1rem;
}

.WelcomeText p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.Actions {
  display: flex;
  gap: 1rem;
  align-items: end;
  flex-wrap: wrap;
}

.ProfileLink {
  color: var(--primary-color);
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  transition: ease-in-out 0.2s;
}

.ProfileLink:hover {
  color: var(--acent-color);
  border-color: var(--acent-color);
}

@media (max-width: 600px) {
  .LoginContainer {
    background-image: url(../assets/AuthImg.jpg);
    background-position: center;
  }

  .register {
    background-image: url(../assets/AuthImg2.jpg);
  }

  .contacts {
    background-image: url(../assets/ContactsImg.jpg);
  }

  .totalcontainer {
    flex-direction: row;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: #ffffffc2;
  }

  .FormContainer textarea {
    max-width: 420px;
  }

  .totalcontainer img {
    display: none;
  }

  .totalcontainer form {
    width: 100%;
    padding: 1rem;
  }

  .totalcontainer form input {
    font-size: 0.9rem;
  }

  .totalcontainer form fieldset {
    margin-bottom: 1rem;
  }

  .totalcontainer form label {
    display: none;
  }

  .totalcontainer form button {
    font-size: 1rem;
  }

  .WelcomeText {
    font-size: 1.2rem;
  }
}
