/* Contenedor principal */
.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  background: linear-gradient(
    to bottom left,
    var(--secondary-color) 10%,
    var(--secondary-color),
    var(--acent-color)
  );
}

/* Contenedor total */
.totalcontainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  height: 450px;
  padding: 0.5rem;
  margin-top: 60px;
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  border-radius: 0 1rem 0 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.totalcontainer img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0 1rem 0 1rem;
}

/* Formulario */
.totalcontainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10% 0 0;
  font-size: 1.2rem;
}

.totalcontainer form strong {
  font-size: 1rem;
}

.totalcontainer form fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

.totalcontainer form label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 0.9rem;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.totalcontainer form input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.totalcontainer form button {
  padding: 0.8rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.totalcontainer form button:hover {
  transform: translateY(-2px);
  background-color: var(--acent-color);
}

/* Contenedor de botones adicionales */
.ButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ButtonContainer p {
  font-size: 1rem;
  text-align: start;
  color: var(--text-color);
}

.ButtonContainer a {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.ButtonContainer a:hover {
  color: var(--shadow-color);
}

/* Texto de bienvenida */
.WelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 2rem;
}

.text {
  font-size: 2rem;
  color: aqua;
}

.WelcomeText h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.WelcomeText h3 {
  font-size: 1.5rem;
  color: var(--acent-color);
  border-bottom: 2px solid var(--acent-color);
  margin-bottom: 1rem;
}

.WelcomeText p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.Actions {
  display: flex;
  gap: 1rem;
  align-items: end;
  flex-wrap: wrap;
}

.ProfileLink {
  color: var(--primary-color);
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  transition: ease-in-out 0.2s;
}

.ProfileLink:hover {
  color: var(--acent-color);
  border-color: var(--acent-color);
}

/* Estados */
.Error {
  color: rgb(204, 61, 61);
}

.Success {
  color: var(--acent-color);
}

/* Responsividad */
@media (max-width: 600px) {
  .LoginContainer {
    padding: 1rem;
    background-image: url(../assets/AuthImg.jpg);
    background-position: center;
    background-size: cover;
  }

  .totalcontainer {
    flex-direction: row;
    max-width: 100%;
    height: auto;
    min-width: none;
    margin-top: 20px;
    border-radius: 0.5rem;
    background-color: #ffffffc2;
  }

  .totalcontainer img {
    display: none;
  }

  .totalcontainer form {
    width: 100%;
    padding: 1rem;
  }

  .totalcontainer form input {
    font-size: 0.9rem;
  }

  .totalcontainer form fieldset {
    margin-bottom: 1rem;
  }

  .totalcontainer form label {
    display: none;
  }

  .totalcontainer form button {
    font-size: 1rem;
  }

  .WelcomeText {
    font-size: 1.2rem;
  }
}
