:root {
  --primary-color: #d35400;
  --secondary-color: #ffffff;
  --text-color: #555;
  --acent-color: #8cbfe7;
  --shadow-color: rgba(211, 84, 0, 0.3);
  --soft-color: #f7883f;

  /* Font Size*/

  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;

  /* Gap */

  --gap-medium: 2rem;
  --gap-short: 0.8rem;

  /* Canvas */

  --nav-height: 60px;
  --nav-padding: 4.5rem;
  --offcanvas-width: 300px;
  --offcanvas-width-hidden: -300px;
  --transition-ease: 0.2s ease-in-out;

  /* Border radius */

  --border-radius-medium: 0.5rem;
}

strong {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

strong::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--acent-color);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

strong:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.icon {
  font-size: 24px;
}

.color {
  color: var(--primary-color);
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.color:hover {
  color: var(--acent-color);
}
